body{padding: 0;
margin: 0px;
box-sizing: border-box;}
.card{display: block;
    background-color: rgb(225, 221, 221);}
.container{display: flex;
    justify-content: space-between;
    background: white;
}.img img{transform: translateY(6px);
    border-bottom: solid 90px;
    border-color:  rgb(225, 221, 221);}
.text{padding:  20px 50px;
    justify-content: center;
    margin: 0 auto;
    margin-left: 80px;}
 .text h1{font-weight: 600;
font-size: 65px;
text-transform: capitalize;
font-family: 'Courier New', Courier, monospace;}
.text p{width: 400px;}
.text button{width: 5cm;
    background: black;
    color: white;
font-size: 15px;
border-radius: 10px;
padding: 15px;
text-transform: capitalize;}
.container-2{justify-content: center;
text-align: center;}
.container-3{display: flex;
justify-content: space-around;
text-align: center;
padding: 30px 50px;
margin: 0 8px;}
.container-2{padding: 40px;}
.container-2 h2{font-size: 40px;
text-transform: capitalize;
padding: 5px 0;}
.container-2 p{
justify-content: center;
text-align: center;}
.container-4{display: flex;
justify-content: center;
}
.img2{width: 50%; height: 600px;
background: rgb(207, 184, 142);
justify-content: center;}
.img2 img{justify-content: center;
    padding: 60px 120px;
    margin: 0 8px;
border-radius: 10px;}
.text2{width: 50%;
margin: 10px 20px;
text-align: left;
justify-content: space-around;
padding: 40px 40px;}
.text2 h1{font-size: 70px;
text-transform: capitalize;
text-align: left;}
.container-5{display: flex;
justify-content: center;
text-align: left;}
.card-2{display: flex;
gap: 4px;}
hr{padding: 0px 30px;}
.text h4{width: 40%;}
.wrapper h1{font-size: 30px;
font-weight: 300;
text-transform: capitalize;
padding: 10px 0;}
.wrapper p{text-align: left;
font-size: 20px;
font-weight: 50;
width: 50%;} 
.wrapper{justify-content: center;
align-items: center;
padding: 40px 10px;}
.card-one{box-shadow: 0 2px 8px rgb(110, 79, 21) ;
width: 90%;
padding: 4px 16px;
transition: 0.3s;
justify-content: center;
text-align: center;
margin: 0 4px;
background: black;
color: white;}
.card-one h1{font-size: 40px;
font-weight: 300;
padding: 4px 10px;
text-transform: capitalize;}
.card-one p{font-size: 40px;
color: brown;
font-weight: 700;}
.card-one button{width: 5cm;
    background: black;
    color: white;
font-size: 15px;
border-radius: 10px;
padding: 20px 0px;
text-transform: capitalize;
padding: 20px 0px;
margin: 4px 0;
font-size: 20px;}
.text2{margin-left: 140px;}
.text2 h4{width: 50%;}
.text2 p{width: 50%;}
.text2 button{width: 5cm;
    background: black;
    color: white;
font-size: 15px;
border-radius: 10px;
padding: 20px;
text-transform: capitalize;}
.card-one h3{font-size: 25px;
font-weight: 200;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 20px 0;
text-transform: capitalize;}
[class] p{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 200;}
.navabar ul{font-size: 20px;
    box-shadow: 1px 1px 0px 1px rgb(228, 228, 228);
    width: 50%;
padding: 10px 20px;}
.navabar li{display: inline-block;}
.navabar a{text-align: center;
padding: 20px;
font-size: 25px;
text-decoration: underline;
text-transform: capitalize;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: brown;}


